.Navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    background-color: black;
    padding: 20px;
}

.Navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Navbar ul li {
   margin-left: 10px;
   list-style: none;
}

.Navbar ul li:hover {
   transform: scale(1.2);
   cursor: pointer;
 }